.sideBar {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius:0 1rem 1rem 0  ;
    -webkit-border-radius:0 1rem 1rem 0  ;
    -moz-border-radius:0 1rem 1rem 0  ;
    -ms-border-radius:0 1rem 1rem 0  ;
    -o-border-radius:0 1rem 1rem 0  ;
}

.sideBar .logo a {
    font-size: 4rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .01rem var(--text-color);
    transition: var(--main-transition);
}

.sideBar .logo a:hover {
    color: var(--hover-color);
    -webkit-text-stroke: .01rem var(--hover-color);
}

.sideBar .sideBar_content {
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}